fastapi
uvicorn[standard]
python-dotenv
pyairtable
langchain
langchain-google-genai
langchain-community
langgraph
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
colorama
pydantic
requests
beautifulsoup4
html2text
markdown
httpx
